@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

$dark-mode-bg: #02010A;
$dark-mode-font-color: #F4F7F5;
$primary: #519872;
$light-mode-bg: $dark-mode-font-color;
$light-mode-font-color: $dark-mode-bg;

html,
body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
    .ParallaxHeader {
        .Text {
            margin: auto;
            top: 0px !important;
            text-align: center;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body, html {
        background-color: $dark-mode-bg;
        color: $dark-mode-font-color;
    }
}

@media (prefers-color-scheme: light) {
    body, html {
        background-color: $light-mode-bg;
        color: $dark-mode-bg;
    }
}

.ParallaxHeader {
    .Text {
        color: $dark-mode-font-color;
        position: relative;
        top: 35vh;
        width: 20em;
        h1 {
            font-size: 5em;
        }
        h2 {
            font-size: 3em;
        }
    }
}